.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #ccc; 
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: black;
}

.seat.booked {
  background-color: #3498db; 
  cursor: not-allowed;
  color: white;
}

.seat.selected {
  background-color: #2ecc71;
  color: white;
}
